.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  box-sizing: border-box;
}

.input-box {
    height: 2.5em;
    width: 300px;
    background-color: white;
    border-radius: 0.5em;
    outline: none;
    padding-left: 0.5em;
}

.suggestion-box {
  width: 300px;
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 10px;
}

.suggestion-item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.suggestion-item:last-of-type {
  border: none;
}