.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 200px;
}

.header {
  color: white;
  margin: 0;
}

.line {
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rules-container{
  border: 1px solid white;
  color: white;
  margin-bottom: 20px;
  width: 80%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.rules-container ul li {
  text-align: left;
}

.input-box {
    height: 2.5em;
    width: 300px;
    background-color: white;
    border-radius: 0.5em;
    outline: none;
    padding-left: 0.5em;
}

.suggestion-box {
  width: 300px;
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  padding: 10px;
}

.suggestion-item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.suggestion-item:last-of-type {
  border: none;
}

.error-msg {
  color: red;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 50px;
  background-color: white;
  margin: 1px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
}

.dotbox-row {
  display: flex;
  color: white;
  align-items: center;
}

.dotbox {
  height: 10px;
  width: 10px;
}
.dotbox-green {
  background-color: green;
}
.dotbox-blue {
  background-color: blue;
}
.dotbox-yellow {
  background-color: yellow;
}
.dotbox-grey {
  background-color: grey;
}
.dotbox-red {
  background-color: red;
}